body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #12171f;
    color: #e2e8f0;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    background: #1e2530;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
}

.profile {
    text-align: center;
}

.avatar {
    width: 90px;
    height: 90px;
    margin: auto;
    background: #4cc3ff;
    border-radius: 50%;
}

.btn {
    background: #4cc3ff;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.btn-outline {
    background: transparent;
    border: 1px solid #4cc3ff;
    color: #4cc3ff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.info h3 {
    margin-top: 20px;
    font-size: 14px;
    color: #9fb3c8;
}

.skill {
    margin-bottom: 10px;
}

.bar {
    width: 100%;
    background: #2d3642;
    height: 8px;
    border-radius: 10px;
}

.bar div {
    height: 8px;
    background: #4cc3ff;
    border-radius: 10px;
}

.main {
    flex: 1;
}

.card {
    background: #1e2530;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.project-card {
    background: #1e2530;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
}

.thumb {
    width: 100%;
    height: 120px;
    background: #4cc3ff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.links a {
    color: #4cc3ff;
  }
